.modules-table {
    margin: 25px 40px;
    border-radius: 10px;
    box-shadow: $shadow;
    color: $navy;
}
.status-color {
    width: 10px;
    height: 10px;
    background: $statusColor;
    border-radius: 50%;
    margin-right: 7px;
}