.slick-slider {
    position: relative;
}
.slick-slider div {
    display: flex;
    align-items: center;
}
.slick-slider .slick-arrow {
    position: absolute;
    top: 50%;
    color: #fff;
    background: #fff;
    border-radius: 50%;
    z-index: 10;
    width: 20px;
    height: 20px;
    overflow: hidden;
}
.slick-slider .slick-arrow::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    color: rgba(0,0,0,0.5);
    background: #fff;
    display: flex;
    justify-content: center;
}
.slick-slider .slick-prev {
    left: 20px;
    transform: translateY(-50%);
}
.slick-slider .slick-prev::before {
    content: "<";
}
.slick-slider .slick-next {
    right: 20px;
    transform: translateY(-50%);
}
.slick-slider .slick-next::before {
    content: ">";
}