.DashboardModulesCard {
    margin: 25px 40px;
    padding: 30px 20px;
    border-radius: 10px;
    box-shadow: 1px 2px 6px 0 rgba(167, 183, 193, 0.5);
    background-color: #fff;
    display: flex;
    color: #2d4b66;
}
.DashboardModulesCard_info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.DashboardModulesCard_info--item {
    margin-bottom: 20px;
}
.DashboardModulesCard_info--item.red {
    color: red;
}
.DashboardModulesCard_info--item a {
    color: #0091ff;
    text-decoration: underline;
    cursor: pointer;
    margin-left: 20px;
}