.dashboard {
    &__modules-card {
        @include moduleDefaultStyles;
        background-color: $white;
        display: flex;
        color: $navy;
        padding: 30px 20px;
        &__info {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            &__item {
                margin-bottom: 20px;
                &.red {
                    color: $red;
                }
                a {
                    color: $logOutColor;
                    text-decoration: underline;
                    cursor: pointer;
                    margin-left: 20px;
                }
            }
        }
    }
}