.dashboard-table {
    @include moduleDefaultStyles;
    color: $lightGray;
    &__head-table {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 20px;
        &__settings {
            display: flex;
            align-items: center;
            .tabs {
                margin-right: 15px;
                &__btn {
                    background-color: $heavyWhite;
                    padding: 10px 30px;
                    border-right: 2px solid $white;
                    cursor: pointer;
                    color: $lightGray;
                    &:hover {
                        background: $lightBlue;
                    }
                }
                &__btn--active {
                    color: $navy;
                }
            }
            .date {
                &__day-select {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .select-period {
                        word-wrap: break-word;
                        width: 50px;
                        color: rgba(0,0,0, 0.4);
                        margin-right: 10px;
                    }
                    .calendar {
                        border: none;
                        padding: 7px 10px;
                        outline: none;
                        background: $heavyWhite;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}
input[type="date"]::before {
	color: $lightGray;
	content: attr(placeholder);
}
input[type="date"] {
	color: $heavyWhite;
}
input[type="date"]:focus,
input[type="date"]:valid {
	color: $darkGray;
}
input[type="date"]:focus::before,
input[type="date"]:valid::before {
	content: "" !important;
}