@font-face {
    font-family: SFProText;
    src: url(../assets/fonts/SFProText-Regular.woff) format("woff");
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}
$font: SFProText;
$defaultColor: #1f3b51;
$white: #fff;
$heavyWhite: #f0f5fa;
$lightBlue: #dce8f5;
$gray: rgba(255, 255, 255, 0.5);
$lightGray: #999;
$darkGray: #666;
$navy: #2d4b66;
$red: red;
$deleteBtn: #c64848;
$logOutColor: #0091ff;
$statusColor: #6dd400;
$exportBtn: #00993d;
$navbar-bg: #14234f;
$navbar-bg-hover: #37446c;
$lightBlack: rgba(0,0,0,0.1);
$navbar-border: 1px solid rgba(255, 255, 255, 0.2);
$shadow: 1px 2px 6px 0 rgba(167, 183, 193, 0.5);
$headerShadow: 0 2px 4px 0 rgba(50, 123, 152, 0.14);
$searchBg: rgba(171, 171, 171, 0.1);