.settings_status-window {
    border-radius: 10px;
    box-shadow: 1px 2px 6px 0 rgba(167, 183, 193, 0.5);
    margin: 25px 40px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 10%;
    font-size: 18px;
    color: #1f3b51;
}
.checkbox_container label {
    display: flex;
    align-items: center;
}