.settings_status-window {
    border-radius: 10px;
    box-shadow: $shadow;
    margin: 25px 40px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 10%;
    font-size: 18px;
    color: $defaultColor;
}