.events-photo_slider {
    margin: 20px 40px;
    overflow: hidden;
}
.events-photo_slider_item {
    height: 80px;
    margin: 0 10px;
}
.events-photo_slider_item img {
    width: 100%;
    height: 100%;
}